# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.KONTRA777.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../:\KONTRA777\.idea\.idea.KONTRA777\.idea/dataSources/
/dataSources.local.xml
